$main-color: #cb8c7c;
$main-dark: #7f574d;
$second-color: #f3f4e7;
$theme-color: #fff3ed;
$white: #fff;
$light-grey: #eee8e5;
$dark-grey: #595050;
$half-black: #161616;
$black: #000;
$hover1: #7cbbcb;
$hover2: #3b83f65f;

$main-gradient: linear-gradient(
	324deg,
	rgba(209, 209, 209, 1) 0%,
	rgba(203, 140, 124, 1) 0%,
	rgba(255, 236, 210, 1) 83%
);
